.forgot-password-form {
  scale: 1.2;
}

@media (max-width: 500px) {
  .forgot-password-form {
    scale: 0.9;
  }
}
@media (max-width: 380px) {
  .forgot-password-form {
    scale: 0.8;
  }
}
@media (max-width: 330px) {
  .forgot-password-form {
    scale: 0.7;
  }
}
@media (max-width: 290px) {
  .forgot-password-form {
    scale: 0.6;
  }
}
@media (max-height: 800px) {
  .forgot-password-form {
    scale: 0.8;
  }
}
@media (max-height: 660px) {
  .forgot-password-form {
    scale: 0.7;
  }
}

@media (max-height: 580px) {
  .forgot-password-form {
    scale: 0.6;
  }
}

@media (max-height: 500px) {
  .forgot-password-form {
    scale: 0.5;
  }
}
